/* SESSION6 */
.week4 .session6{
  grid-area: 15 / 5 / 21 / 10;
}

.session6 .pic{
  background-image: url('https://images.unsplash.com/photo-1519406709381-c1f293304b28');
  background-size: cover;
  background-position: center center;
  width: 480px;
  height: 400px;
  margin-top: 100px;
  margin-left: 120px;
}

.session6 .title{
  right: 0;
  bottom: 500px;
}

.session6 .smword{
  left: 300px;
}

.session6 .num{
  left: 60px;
  bottom: 300px;
}

.session6 .rect-fill{
  width: 240px;
  height: 200px;
  top: 300px;
  left: 60px;
}

.session6 .rect-stroke{
  width: 480px;
  height: 200px;
  left: 120px;
  bottom: 50px;
}
