/* SESSION1 */
.week4 .session1{
  grid-area: 3 / 2 / 9 / 7;
}

.session1 .pic{
  background-image: url('https://images.unsplash.com/photo-1513827379601-9dba5099a3f9');
  background-size: cover;
  background-position: center center;
  width: 480px;
  height: 400px;
  margin-top: 100px;
}

.session1 .title{
  top: 100px;
}

.session1 .set{
  position: absolute;
  bottom: 50px;
}

.session1 .smword{
  top: 400px;
  left: 480px;
  writing-mode: tb-rl;
}

.session1 .rect-stroke{
  width: 240px;
  height: 200px;
  left: 300px;
  top: 50px;
}