.week3 .trans{
  padding: 20px 42px;
}

.week3 .trans-item{
  margin: 20px 0px;
}

.text-grey{
  color: #9B9B9B;
}
.text-blue{
  color: #4A90E2;
}
.arrow-up{
  color: #7ED321;
}
.arrow-down{
  color: #D0021B;
}